<h1>View Order </h1>

<form #form="ngForm">
  <div class="form-group">
    <fieldset>
      <legend>View Order</legend>
      <div>
        <label class="form-control form-control-sm" for="txtOrderNumber">OrderNumber</label>
        <input type="number" name="txtOrderNumber" [(ngModel)]="currentOrder && currentOrder.OrderNumber" #price="ngModel" class="form-control form-control-sm" readonly required />
      </div>
      <div>
        <label class="form-control form-control-sm" for="txtOrderDate">OrderDate</label>
        <input type="date" name="txtOrderDate" [(ngModel)]="currentOrder && NgDate.dateInput" #date="ngModel" class="form-control form-control-sm" readonly required />
      </div>


      <div>
        <label class="form-control form-control-sm" for="txtTable">Table</label>
        <input type="text" name="txtTable" [(ngModel)]="currentOrder && currentOrder.Table.Number" #table="ngModel" class="form-control form-control-sm" readonly required />
      </div>


      <div>
        <label class="form-control form-control-sm" for="txtWaiter">Waiter</label>
        <input type="text" name="txtWaiter" [(ngModel)]="currentOrder && currentOrder.Waiter.Name" #waiter="ngModel" class="form-control form-control-sm" readonly required />
      </div>

      <div>
        <label class="form-control form-control-sm" for="txtAmount">Amount</label>
        <input type="text" name="txtAmount" [(ngModel)]="currentOrder && currentOrder.Amount" #amout="ngModel" class="form-control form-control-sm" readonly />
      </div>

      <div>
        <label class="form-control form-control-sm" for="txtTaxes">Taxes</label>
        <input type="text" name="txtTaxes" [(ngModel)]="currentOrder && currentOrder.Taxes" #taxes="ngModel" class="form-control form-control-sm" readonly />
      </div>

      <div>
        <label class="form-control form-control-sm" for="txtSubtotal">Subtotal</label>
        <input type="number" name="txtSubtotal" [(ngModel)]="currentOrder && currentOrder.Subtotal" #subtotal="ngModel" class="form-control form-control-sm" readonly />
      </div>


      <div>
        <label class="form-control form-control-sm" for="txtDiscount">Discount</label>
        <input type="number" name="txtDiscount" [(ngModel)]="currentOrder && currentOrder.Discount" #discount="ngModel" class="form-control form-control-sm" readonly />
      </div>


      <div>
        <label class="form-control form-control-sm" for="txtTotal">Total</label>
        <input type="number" name="txtTotal" [(ngModel)]="currentOrder && currentOrder.Total" #total="ngModel" class="form-control form-control-sm" readonly />
      </div>

      <div>
        <label class="form-control form-control-sm" for="taRemarks">Remarks</label>
        <textarea name="txtTotal" [(ngModel)]="currentOrder && currentOrder.Remarks" #remarks="ngModel" class="form-control form-control-sm" readonly></textarea>
      </div>




    </fieldset>



    <table id="dataTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover form-control-sm"></table>

    <table>
      <tr>
        <td><input type="button" (click)="back()" value="Back" [class]="formState.newButtonDisabled?formState.disabledActionButtonClass:formState.actionButtonClass" class="form-control form-control-sm"></td>
        <td><input type="button" (click)="onEdit()" value="Edit" [class]="formState.newButtonDisabled?formState.disabledActionButtonClass:formState.actionButtonClass" class="form-control form-control-sm"></td>
      <tr>
    </table>
  </div>
</form>
