<h1>Categories</h1>


<table id="dataTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover form-control-sm" ></table>

<form #form="ngForm">
  <div class="form-group">
    <fieldset [disabled]="formState.isDisabled">
      <legend>Category</legend>
    

      <div>
        <label  class="form-control form-control-sm" for="txtName">Name:</label>
        <input type="text" name="txtName" [(ngModel)]="currentCategory.Name" #name="ngModel"  class="form-control form-control-sm" required />

        <div  *ngIf="formState.submitted && name.invalid" class="error">
          <div *ngIf="formState.submitted && name.invalid"><small  class="form-text text-muted">The name is required</small></div>
        </div>

      </div>

      <div>
        <label class="form-control form-control-sm" for="txtCode">Code:</label>
        <input type="text" name="txtCode" [(ngModel)]="currentCategory.Code" #code="ngModel"  class="form-control form-control-sm" required />

        <div *ngIf="formState.submitted && code.invalid" class="error">
          <div *ngIf="formState.submitted && code.invalid"><small class="form-text text-muted">The code is required</small></div>
        </div>
        </div>

      <div>
        <label class="form-control form-control-sm">Description:</label>
        <textarea name="taDescription" [(ngModel)]="currentCategory.Description" #description="ngModel"  class="form-control form-control-sm" ></textarea>
      </div>

    </fieldset>
    <table>
      <tr>
        <td><input type="button" [disabled]="formState.newButtonDisabled" (click)="onCreate()" value="New" [class]="formState.newButtonDisabled?formState.disabledActionButtonClass:formState.actionButtonClass"  class="form-control form-control-sm"></td>
        <td><input type="button" [disabled]="formState.saveButtonDisabled" (click)="onSubmit(form)" value="Save" [class]="formState.saveButtonDisabled?formState.disabledActionButtonClass:formState.actionButtonClass"  class="form-control form-control-sm" ></td>
        <td><input type="button" [disabled]="formState.cancelButtonDisabled" (click)="onCancel(form)" value="Cancel" [class]="formState.cancelButtonDisabled?formState.disabledActionButtonClass:formState.actionButtonClass"  class="form-control form-control-sm"></td>
      </tr>
    </table>
    </div>
</form>
