<nav class="navigation">
  <ul class="mainmenu">


    <li>
      <a href="">Products</a>
      <ul class="submenu">
        <li><a routerLink="/categories">Categories</a></li>
        <li><a routerLink="/items">Items</a></li>
        <li><a routerLink="/units">Units of Measure</a></li>
      </ul>
    </li>
    <li>
      <a href="">Dining Arrangement</a>
      <ul class="submenu">
        <li><a routerLink="/sections">Sections</a></li>
        <li><a routerLink="/tables">Tables</a></li>
      </ul>
    </li>

    <li>
      <a href="">Users</a>
      <ul class="submenu">
        <li><a routerLink="/users">Users</a></li>
        <li><a routerLink="/waiters">Tables and Waiters</a></li>
      </ul>
    </li>
    <li>
      <a href="">Orders</a>
      <ul class="submenu">
        <li><a routerLink="/createOrders">Create Order</a></li>
        <li><a routerLink="/viewOrders"> View All Orders</a></li>
      </ul>
    </li>
    <li>
      <a href="">Kitchen</a>
      <ul class="submenu">
        <li><a routerLink="/kitchenScreen">Kitchen Screen</a></li>
      </ul>
    </li>
  </ul>
</nav>
